.filter-container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
  }
  
  select {
    padding: 10px;
    margin:10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius:10px;
    width: 100%;
  }
  
  .filter-action {
    margin-top: 1.2rem;
    padding: 0.5rem;
    background-color: #247eba;
    color: #fff;
    border: 0;
    border-radius:10px;
    width: 50%;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .filter-action:hover {
    color: #444;
    background-color: aquamarine;
  }
  