.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg {
  background: #eee;
  overflow: visible;
  margin: 7rem;
  display: block;
}
